<!doctype html>
<html>
    <head>
        <title>Character</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>

    <body>
        <header>
            <nav class="navbar">
                    <ul id="dashboard-navbar">
                        <li><a href="/dashboard">Dashboard</a></li>
                        <li><a href="/unit1">Unit 1</a></li>
                        <li><a href="/character_profile">Character Profile</a></li>
                        <li><a href="/student_profile">Student Profile</a></li>
                        <!-- <li><a href="/concept1_1">Unit 1-Concept 1</a></li> -->
                    </ul>
            </nav>
        </header>
        <a href="/unit1">Unit 1</a>


        <h1>Character Profile</h1>


    </body>
  </html>