<!doctype html>
<html>
    <head>
        <title>Concept 1</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>

    <body>

        <header>
            <nav class="navbar">
                    <ul id="dashboard-navbar">
                        <li><a href="/dashboard">Dashboard</a></li>
                        <li><a href="/unit1">Unit 1</a></li>
                        <li><a href="/character_profile">Character Profile</a></li>
                        <li><a href="/student_profile">Student Profile</a></li>
                        <!-- <li><a href="/concept1_1">Unit 1-Concept 1</a></li> -->
                    </ul>
            </nav>
        </header>
        <h1>Concept 1</h1>
        <aside class="sidebar">
                <ul>
                    <li>
                        <a href="/concept1_1">Unit 1: Concept 1</a>
                        <ul>
                            <li><a href="/problem1_1_1">Problem 1</a></li>
                            <li><a href="/problem1_1_2">Problem 2</a></li>
                            <li><a href="/problem1_1_3">Problem 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/concept1_2">Unit 1: Concept 2</a>
                        <ul>
                            <li><a href="/problem1_1_1">Problem 1</a></li>
                            <li><a href="/problem1_1_1">Problem 2</a></li>
                            <li><a href="/problem1_1_1">Problem 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="unit1_concept3.html">Unit 1: Concept 3</a>
                        <ul>
                            <li><a href="unit1_concept3_problem1.html">Problem 1</a></li>
                            <li><a href="unit1_concept3_problem2.html">Problem 2</a></li>
                            <li><a href="unit1_concept3_problem3.html">Problem 3</a></li>
                        </ul>
                    </li>
                </ul>
        </aside>

        <a href="https://www.pbs.org/newshour/show/climate-change-forces-major-lifestyle-changes-high-in-the-himalayan-mountains#transcript" style="font-size: 35px">PBS News Hour: Climate change forces major lifestyle changes high in the Himalayan mountains</a>


    </body>
  </html>