<!doctype html>
<html>
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <script src="https://www.google.com/jsapi?key=AIzaSyDRUykAT_Y2EYH1UHTuILVQRMf0z3Zg9vc"></script>
        <script src="https://apis.google.com/js/api.js"></script>
        <script src="//unpkg.com/three-globe"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOJvvMOn3P2XteMA_nui6JTNYXVBHGfic"></script>
        

        <style>
            #earth-map {
            width: 800px;
            height: 600px;
            }
        </style>
    
    </head>

    <body>
        <header>
            <nav class="navbar">
                    <ul id="dashboard-navbar">
                        <li><a href="/dashboard">Dashboard</a></li>
                        <li><a href="/unit1">Unit 1</a></li>
                        <li><a href="/character_profile">Character Profile</a></li>
                        <li><a href="/student_profile">Student Profile</a></li>
                        <!-- <li><a href="/concept1_1">Unit 1-Concept 1</a></li> -->
                    </ul>
            </nav>
        </header>
        
        <h1>Dashboard</h1>
        
        <div id="map" style="height: 900px; width:100%;"></div>

        <script>
          var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 0, lng: 0},
            zoom: 2,
            mapTypeId: 'satellite'
          });
    
          function GlobeOverlay() {
            this._div = null;
          }
    
          GlobeOverlay.prototype = new google.maps.OverlayView();
    
          GlobeOverlay.prototype.onAdd = function() {
            this._div = document.createElement('div');
            this._div.style.position = 'absolute';
            this._div.innerHTML = '<img src="globe_texture.jpg">';
            this.getPanes().overlayLayer.appendChild(this._div);
          };
    
          GlobeOverlay.prototype.draw = function() {
            var projection = this.getProjection();
            var divCenter = projection.fromLatLngToDivPixel(new google.maps.LatLng(0, 0));
            this._div.style.left = divCenter.x - 256 + 'px';
            this._div.style.top = divCenter.y - 256 + 'px';
            this._div.style.width = '512px';
            this._div.style.height = '512px';
          };
    
          GlobeOverlay.prototype.onRemove = function() {
            this._div.parentNode.removeChild(this._div);
            this._div = null;
          };
    
          var globeOverlay = new GlobeOverlay();
          globeOverlay.setMap(map);
    
        </script>

    </body>
  </html>