<!doctype html>
<html>
    <head>
      <!--Stylesheet for all pages-->
      <link rel="stylesheet" href="/static/css/style.css">
      <meta charset="UTF-8">
      <title>Unit 1-Concept 1: First Derivatives</title>
      <!--KaTex Formatting-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.11.1/katex.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.11.1/katex.min.js"></script>
      <!--MathJax Formatting-->
      <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
      <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>

      <style>
        body {
          background-image: url("/static/images/concept1_1_1.jpg");
          background-size: cover;
        }
      </style>
    </head>

    <body>
      <header>
        <nav class="navbar">
                <ul id="dashboard-navbar">
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/unit1">Unit 1</a></li>
                    <li><a href="/character_profile">Character Profile</a></li>
                    <li><a href="/student_profile">Student Profile</a></li>
                    <!-- <li><a href="/concept1_1">Unit 1-Concept 1</a></li> -->
                </ul>
        </nav>
      </header>
      <aside class="sidebar">
        <ul>
            <li>
                <a href="/concept1_1">Unit 1: Concept 1</a>
                <ul>
                    <li><a href="/problem1_1_1">Problem 1</a></li>
                    <li><a href="/problem1_1_2">Problem 2</a></li>
                    <li><a href="/problem1_1_3">Problem 3</a></li>
                </ul>
            </li>
            <li>
                <a href="/concept1_2">Unit 1: Concept 2</a>
                <ul>
                    <li><a href="unit1_concept2_problem1.html">Problem 1</a></li>
                    <li><a href="unit1_concept2_problem2.html">Problem 2</a></li>
                    <li><a href="unit1_concept2_problem3.html">Problem 3</a></li>
                </ul>
            </li>
            <li>
                <a href="unit1_concept3.html">Unit 1: Concept 3</a>
                <ul>
                    <li><a href="unit1_concept3_problem1.html">Problem 1</a></li>
                    <li><a href="unit1_concept3_problem2.html">Problem 2</a></li>
                    <li><a href="unit1_concept3_problem3.html">Problem 3</a></li>
                </ul>
            </li>
        </ul>
    </aside>

    <!-- <div class="container"> -->
      <div class="middle-column">

        <h1>Unit 1 - Concept 1: First Derivatives</h1>

        <h2>Solve for the derivative of the following function, with respect to x:</h2>
      

        <div id="derivative">$$f(x)= {{f}}$$</div>
        <label style="display: inline-block; font-size: 30px;" for="equationInput">$$df/dx = $$</label>
        <input type="text" style="width: 300px; height: 50px; font-size: 30px;" id="equationInput">

        <div id="outputDiv"></div>

        <div>CORRECT Answer: {{df_dx}}</div>
      
        <script>
          const inputField = document.getElementById('equationInput');
          const outputDiv = document.getElementById('outputDiv');
      
          inputField.addEventListener('input', () => {
            const inputText = inputField.value;
            outputDiv.textContent = inputText;
            katex.render(inputText, outputDiv);
          });
        </script>

        <div>
          <button id="answer" type="button">Submit Answer</button>
          <button id="regenerate" type="submit">Restart</button>
        </div>

        <div id="messageContainer"></div>

        <!-- Submit Answer Javascript -->
        <script>
          const submitButton = document.querySelector("#answer");
          submitButton.addEventListener("click", () => {
            const userInput = document.querySelector("#equationInput").value
            fetch("/concept111_check", {
              method: "POST",
              body: JSON.stringify({ answer: userInput }),
              headers: {
                "Content-Type": "application/json",
              },
            })
            .then((response) => response.json())
            .then((data) => {
              if (data.correct) {
                pointCounter.innerHTML = parseInt(pointCounter.innerHTML) + 1;
                messageContainer.textContent = "YOU GOT IT!";
              } else {
                messageContainer.textContent = "Not yet, try again!";
              }
            });
          }); 
        </script>
      </div>  
    <!-- </div>    -->
    </body>
  </html>


        <!-- <script>
        const equationInput = document.getElementById("equationInput");
        const equationOutput = document.getElementById("equationOutput");

        equationInput.addEventListener("keyup", function() {
          const equation = equationInput.value;
          const equationHTML = MathJax.tex2chtml(equation).outerHTML;
          equationOutput.innerHTML = equationHTML;
        });
      </script> -->
