<!doctype html>
<html>
    <head>
      <!--Stylesheet for all pages-->
      <link rel="stylesheet" href="/static/css/style.css">
      <meta charset="UTF-8">
      <title>Unit 1-Concept 1: First Derivatives</title>
      <!--KaTex Formatting-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.11.1/katex.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.11.1/katex.min.js"></script>
      <!--MathJax Formatting-->
      <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
      <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
      <!-- Confetti! -->
      <script src="confetti.js"></script>
      <style>
        body {
          background-image: url("/static/images/concept1_1_1.jpg");
          background-size: cover;
        }
      </style>
    </head>

    <body>
      <header>
        <nav class="navbar">
                <ul id="dashboard-navbar">
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/unit1">Unit 1</a></li>
                    <li><a href="/character_profile">Character Profile</a></li>
                    <li><a href="/student_profile">Student Profile</a></li>
                    <!-- <li><a href="/concept1_1">Unit 1-Concept 1</a></li> -->
                </ul>
        </nav>
      </header>
      <aside class="sidebar">
        <ul>
            <li>
                <a href="/concept1_1">Unit 1: Concept 1</a>
                <ul>
                    <li><a href="/problem1_1_1">Problem 1</a></li>
                    <li><a href="/problem1_1_2">Problem 2</a></li>
                    <li><a href="/problem1_1_3">Problem 3</a></li>
                </ul>
            </li>
            <li>
                <a href="/concept1_2">Unit 1: Concept 2</a>
                <ul>
                    <li><a href="unit1_concept2_problem1.html">Problem 1</a></li>
                    <li><a href="unit1_concept2_problem2.html">Problem 2</a></li>
                    <li><a href="unit1_concept2_problem3.html">Problem 3</a></li>
                </ul>
            </li>
            <li>
                <a href="unit1_concept3.html">Unit 1: Concept 3</a>
                <ul>
                    <li><a href="unit1_concept3_problem1.html">Problem 1</a></li>
                    <li><a href="unit1_concept3_problem2.html">Problem 2</a></li>
                    <li><a href="unit1_concept3_problem3.html">Problem 3</a></li>
                </ul>
            </li>
        </ul>
    </aside>

    <!-- <div class="container"> -->
      <div class="middle-column">

        <h1>Unit 1 - Concept 1.4: The Chain Rule</h1>

        <h2>Solve for the derivative of the following function, with respect to x:</h2>
      

        <div id="derivative">$$f(x)= {{f}}$$</div>
        <form>
          <label style="display: inline-block; font-size: 30px;" for="equationInput">$$df/dx = $$</label>
          <input type="text" style="width: 300px; height: 50px; font-size: 30px;" id="equationInput" name="equationInput">
          <button type="button" onclick="checkAnswer()">Submit Answer</button>
        </form>


        <label for="outputDiv"style="font-size: 30px;">Formatted Answer:</label>
        <div id="outputDiv"style="font-size: 30px;"></div>

        <p id="result"style="font-size: 50px;"></p>

        <!-- <div>CORRECT Answer: {{df_dx}}</div> -->

        <!-- Create point and problem completion counters on the side: -->
        <div class="point-bubble">
          <label for="points" style="font-size:28px">Planet Points</label>
          <span id="points" style="font-size:60px" class="counter">{{ student.planet_points }}</span>
        </div>

        <div class="problem-bubble">
          <label for="problem-progress" style="font-size:28px; line-height: 0.5;">Progress</label>
          <span id="problem-progress" style="font-size:45px" class="counter">{{ new_progress.points_gained }} </span>
        </div>
      
        <!-- Apply Formatting to equation-->
        <script>
          const inputField = document.getElementById('equationInput');
          const outputDiv = document.getElementById('outputDiv');
      
          inputField.addEventListener('input', () => {
            const inputText = inputField.value;
            outputDiv.textContent = inputText;
            katex.render(inputText, outputDiv);
          });
        </script>

        <!-- Restart Problem -->
        <div>
          <button id="regenerate" type="submit" onclick="restart()">Next Problem</button>
          <script>
            function restart() {
              window.location.reload();
            }
          </script>
        </div>

        <div id="messageContainer"></div>
        
        <div id="result"></div>
        <!-- Submit and Check Answer Javascript -->
        <script>
          function checkAnswer() {
            const userInput = document.getElementById("equationInput").value;
            const df_dx = "{{ df_dx }}"; 
            const resultElement = document.getElementById("result");
            const pointsElement = document.getElementById("points");


            if (userInput === df_dx) {

              resultElement.innerText = "Congratulations! Your answer is correct.";
              const planetPoints = document.getElementById('points');
              const progressPoints = document.getElementById('problem-progress');
              const currentPoints = parseInt(planetPoints.innerText);
              const currentProgress = parseInt(progressPoints.innerText);
              planetPoints.innerText = currentPoints + 1;
              progressPoints.innerText = currentProgress + 1;

              
              fetch('/update-points', {
                method: 'POST',
                body: new URLSearchParams({
                  email: '{{ student.email }}',
                  points: planetPoints.innerText,
                  progress: progressPoints.innerText
                })
              });
              fetch('/update-progress', {
                method: 'POST',
                body: new URLSearchParams({
                  email: '{{ student.email }}',
                  points: planetPoints.innerText,
                  progress: progressPoints.innerText
                })
              });


            } else {
              resultElement.innerText = "Not yet. Please try again!";
            }
          }
        </script>

      </div>  
    </body>
  </html>
