<!doctype html>
<html>
    <head>
        <title>Student</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>

    <body>
        <header>
            <nav class="navbar">
                    <ul id="dashboard-navbar">
                        <li><a href="/dashboard">Dashboard</a></li>
                        <li><a href="/unit1">Unit 1</a></li>
                        <li><a href="/character_profile">Character Profile</a></li>
                        <li><a href="/student_profile">Student Profile</a></li>
                        <!-- <li><a href="/concept1_1">Unit 1-Concept 1</a></li> -->
                    </ul>
            </nav>
        </header>


        <h1>Your Personal Profile</h1>
        <body>
            <h1>Welcome, {{ student.fname }}!</h1>
            <p>First Name: {{ student.fname }}</p>
            <p>Last Name: {{ student.lname }}</p>
            <p>Email: {{ student.email }}</p>
            <p>Planet Points: </p>
            <p>Math Level: </p>
            <p>Career Goal: </p>
            
          </body>


    </body>
  </html>