<!doctype html>
<html>
    <head>
        <title>Student</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>

    <body>
        <header>
            <nav class="navbar">
                    <ul id="dashboard-navbar">
                        <li><a href="/dashboard">Dashboard</a></li>
                        <li><a href="/unit1">Unit 1</a></li>
                        <li><a href="/character_profile">Character Profile</a></li>
                        <li><a href="/student_profile">Student Profile</a></li>
                        <!-- <li><a href="/concept1_1">Unit 1-Concept 1</a></li> -->
                    </ul>
            </nav>
        </header>


        <h1>Your Personal Profile</h1>
        <body>
            <h1>Welcome, {{ student.fname }}!</h1>
            <p>First Name: {{ student.fname }}</p>
            <p>Last Name: {{ student.lname }}</p>
            <p>Email: {{ student.email }}</p>
            <p>Planet Points: {{ student.planet_points }}</p>
            <p>Math Level: {{ student.mathematical_level }}</p>
            <p>Career Goal: <span id="career-goal">{{ student.career_path }}</span></p>
            <form id="career-goal-form">
                <input type="text" name="career_goal">
                <button type="submit">Update</button>
            </form>


            <script>
                const form = document.getElementById('career-goal-form');
                const span = document.getElementById('career-goal');
                
                form.addEventListener('submit', (event) => {
                    event.preventDefault(); 
                    
                    const input = form.querySelector('input[name="career_goal"]');
                    const value = input.value;
                    
                    fetch('/update_career_goal', {
                        method: 'POST',
                        body: JSON.stringify({ 'career_goal': value }),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            span.textContent = value;
                        }
                    });
                });
            </script>

        </body>


    </body>
  </html>