<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Google Earth Dashboard</title>
    <style>
      #map-container {
        height: 500px;
        width: 100%;
      }
    </style>
    <script src="https://www.google.com/jsapi"></script>
    <script>
      google.load('earth', '1', {
        'other_params': 'sensor=false'
      });
      
      function init() {
        var mapContainer = document.getElementById('map-container');
        var mapOptions = {
          'database': 'http://www.earthpoint.us/ZipCodes.aspx',
          'callback': function(map) {
            // Create a placemark for New York City
            var newYork = map.createPlacemark('');
            newYork.setName('New York City');
            var newYorkPoint = map.createPoint('');
            newYorkPoint.setLatitude(40.71427);
            newYorkPoint.setLongitude(-74.00597);
            newYork.setGeometry(newYorkPoint);
            
            // Add a link to a page in your website when the placemark is clicked
            google.earth.addEventListener(newYork, 'click', function() {
              window.location.href = 'https://www.yourwebsite.com/new-york';
            });
            
            // Create a placemark for Los Angeles
            var losAngeles = map.createPlacemark('');
            losAngeles.setName('Los Angeles');
            var losAngelesPoint = map.createPoint('');
            losAngelesPoint.setLatitude(34.05223);
            losAngelesPoint.setLongitude(-118.24368);
            losAngeles.setGeometry(losAngelesPoint);
            
            // Add a link to a page in your website when the placemark is clicked
            google.earth.addEventListener(losAngeles, 'click', function() {
              window.location.href = 'https://www.yourwebsite.com/los-angeles';
            });
            
            // Add the placemarks to the map
            map.getFeatures().appendChild(newYork);
            map.getFeatures().appendChild(losAngeles);
          }
        };
        var map = new google.earth.GEMap(mapContainer, mapOptions);
      }
      
      google.setOnLoadCallback(init);
    </script>
  </head>
  <body>
    <div id="map-container"></div>
  </body>
</html>