<html>
<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <!-- <script src="script.js"></script> -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es7"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es2017"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es2018"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es2019"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es2020"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es2021"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=esnext"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.0/es5/tex-chtml.js"></script>
</head>
<body>
  <input type="text" id="equationInput" oninput="realTime()">
  <div id="equationOutput"></div>

  <script>
    function realTime(){
        const equationInput = document.getElementById("equationInput");
        const equationOutput = document.getElementById("equationOutput");

        equationInput.addEventListener("keyup", function() {
        const equation = equationInput.value;
        const equationHTML = MathJax.tex2chtml(equation).outerHTML;
        equationOutput.innerHTML = equationHTML;
    });
    }

  </script>
</body>
</html>