<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="static/css/style.css">
    </head>

    <body>
        <h1>Unit 1 - Concept 1: First Derivatives</h1>

        <h2>Solve for the derivative of the following function, with respect to x:</h2>
        <form>
            <p>f(x) = <input type="text" id="u1_c1" name="dervative_ex"></p>

            <button id="answer" type="submit">Enter Answer</button>
            <button id="regenerate" type="submit">Regenerate Problem</button>
        </form>
    </body>
  </html>