
<!DOCTYPE html>
<html>
<head>
	<title>Unit 1</title>
    <link rel="stylesheet" href="/static/css/style.css">
	<script>
        const container = document.querySelector('.container');
        const icon = document.querySelector('.icon');

        container.addEventListener('click', (event) => {
            icon.style.display = 'block';
            icon.style.top = event.clientY - container.offsetTop + 'px';
            icon.style.left = event.clientX - container.offsetLeft + 'px';
        });
    </script> 
</head>
<body>
    <header>
        <nav class="navbar">
                <ul id="dashboard-navbar">
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/unit1">Unit 1</a></li>
                    <li><a href="/character_profile">Character Profile</a></li>
                    <li><a href="/student_profile">Student Profile</a></li>
                </ul>
        </nav>
    </header>
    <aside class="sidebar">
        <ul>
            <li>
                <a href="/concept1_1">Unit 1: Concept 1</a>
                <ul>
                    <li><a href="/problem1_1_1">Problem 1</a></li>
                    <li><a href="/problem1_1_2">Problem 2</a></li>
                    <li><a href="/problem1_1_3">Problem 3</a></li>
                </ul>
            </li>
            <li>
                <a href="/concept1_2">Unit 1: Concept 2</a>
                <ul>
                    <li><a href="unit1_concept2_problem1.html">Problem 1</a></li>
                    <li><a href="unit1_concept2_problem2.html">Problem 2</a></li>
                    <li><a href="unit1_concept2_problem3.html">Problem 3</a></li>
                </ul>
            </li>
            <li>
                <a href="unit1_concept3.html">Unit 1: Concept 3</a>
                <ul>
                    <li><a href="unit1_concept3_problem1.html">Problem 1</a></li>
                    <li><a href="unit1_concept3_problem2.html">Problem 2</a></li>
                    <li><a href="unit1_concept3_problem3.html">Problem 3</a></li>
                </ul>
            </li>
        </ul>
    </aside>

        <!-- <a href="/concept1_1">Unit 1-Concept 1</a> -->


        <div id="board">
            <div class="container">
                Instantaneous Rates of Change
                <span class="icon"></span>
            </div>
            <div class="container">
                Estimating Derivatives with Graphs
                <span class="icon"></span>
            </div>
            <div class="container">
                Derivatives of Basic Functions
                <span class="icon"></span>
            </div>
            <div class="container">
                Product, Quotient, and Chain Rules
                <span class="icon"></span>
            </div>
            <div class="container">
                Implicit Differentiation
                <span class="icon"></span>
            </div>
            <div class="container">
                Derivatives of Inverse Functions
                <span class="icon"></span>
            </div>
            <div class="container">
                Mean Value Theorem
                <span class="icon"></span>
            </div>
            <div class="container">
                L'Hopital's Rule
                <span class="icon"></span>
            </div>
            <div class="container">
                Derivatives of Parametrically Defined Functions
                <span class="icon"></span>
            </div>
            <div class="container">
                Final Challenge
                <span class="icon"></span>
            </div>

        </div>
        <div id="icon" class="icon"></div>

</body>
</html>